#event {
  position: absolute;
  height: 50px;
  width: 100px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: linear-gradient(white, gray);
  cursor: pointer;
}
