.menu {
  position: absolute;
  width: 313px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 13%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.menu ul {
  margin-left: 20px;
  margin-top: 150px;
}
.menu ul li {
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}
.menu ul li:nth-child(2) {
  margin-bottom: 100px;
}
